<h1> Add a new <%= @album.band %> album | Spotifake</h1>

<form action="<%= bands_url %>" method="post">
  <input
  name="_method"
  type="hidden"
  value="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

<label for="album_name">
  Album Name
  <input type="text"
         name="album[name]"
         id="album_name">
</label>
<input type="submit">
</form>
